* {
	box-sizing: border-box;
}

body {
	background-image: url('../images/background-paper.jpg');
	background-size: cover;
}

@media print {
	h2 {
		display: none !important;
	}
	#main {
		display: none !important;
	}
	.actionBar {
		display: none !important;
	}
	header {
		display: none !important;
	}
	footer {
		display: none !important;
	}
}