* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

@media print {
	h2 {
		display: none !important;
	}
	#main {
		display: none !important;
	}
	.actionBar {
		display: none !important;
	}
}