.characterSheet {
	border: 1px solid #666;
	border-radius: 0.5em;
	padding: 0.5em;
}

.characterSheet {
	display: flex;
	flex-direction: column;
	font-family: monospace;
}

.characterSheet .row {
	display: flex;
	flex-direction: row;
}

.characterSheet .label {
	font-weight: bold;
	flex-basis: 10em;
}

.characterSheet .value {

}