.characterSheet {
	display: flex;
	flex-direction: column;
}

.characterSheet fieldset {
	margin-bottom: 0.5em;
	font-family: monospace;
}

.characterSheet .row {
	display: flex;
	flex-direction: row;
}

.characterSheet .label {
	font-weight: bold;
	flex-basis: 10em;
	flex-shrink: 0;
}

.characterSheet .value:first-letter {
	text-transform: uppercase;
}