.characterGenerator {
	display: flex;
	flex-direction: column;
}

.characterGenerator .row {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.characterGenerator label {
	font-weight: bold;
	flex-basis: 10em;
	flex-shrink: 0;
}

.characterGenerator option:first-letter {
	text-transform: uppercase;
}

.characterGenerator .adjustOne span {
  margin-right: 0.5em;
}

.characterGenerator .adjustOne .adjustOneToLabel {
  margin-left: 0.5em;
}
